# Ignore all Spring Boot configuration files
**/src/main/resources/application.properties
**/src/main/resources/application.yml
**/src/main/resources/application-*.properties
**/src/main/resources/application-*.yml

# Ignore IDE and OS files
.DS_Store
.idea/
*.iml
target/
out/

# Ignore local environment files
.env
