# =============================
# Database & Docker volumes
# =============================
volume-data/
data/
shopingProject-parent/data/
shopingProject-parent/volume-data/

# MongoDB
*.wt
*.lock
*.turtle
journal/
diagnostic.data/

# MySQL
*.ibd
*.sdi
*.sock
undo_*
#innodb_*

# Tempo / tracing
tempo/
traces/

# Logs
*.log

# =============================
# Spring Boot configs
# =============================
**/src/main/resources/application.properties
**/src/main/resources/application.yml
**/src/main/resources/application-*.properties
**/src/main/resources/application-*.yml

# =============================
# IDE / OS
# =============================
.DS_Store
.idea/
*.iml
target/
out/
.env
